{
  "env": {
    "production": {
      "plugins": ["transform-react-remove-prop-types"]
    }
  },
  "plugins": [
    "lodash",
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-object-rest-spread",
    "react-hot-loader/babel",
  ],
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-react"
  ]
}
